body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(127, 229, 255);
}
.table {
   

    width: 100%;
    border-collapse: collapse;
}
.table th .table td{
    border: 1px solid whitesmoke;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}


.form{ display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: end;
   grid-row: auto;
   grid-gap:30px;

}



.container input, .container button {
    display: block;
    margin: 10px 0;
    padding: 10px;
}

button{
    display: block;
  margin-top: 10px;
    padding: 10px;
}
